Package: psme-allinone
Version:
Section: utils
Priority: optional
Architecture: amd64
Maintainer: guanglin.shen <guanglingx.shen@intel.com>
Description:psme_allinone_2.1.3.60.02-fc4e3ad
OS_Ver:Description:	Debian GNU/Linux 8.11 (jessie)
commit_id:fc4e3ad
